h1 {
    color: royalblue;
    font-size: 100px;
}
#no1 {color: red;
    font-size: 20px;
}
#no2 {color: blueviolet;
    font-size: 20px;
}

.box {
    width: 100%;
    height: 120px;
    background: rgb(rgb(158, 5, 5), rgb(123, 201, 123), blue);
}

:root {
    --text-color : rgb(238, 160, 14);

}

