/*Reset css*/
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{
    font-family:Helvetica, Arial, sans-serif;
}

/*
1. vị trí
2. kích thước (width, height)
3. màu sắc
4. kiểu dáng (kiểu chữ, hình tròn, vuông,..)  
*/
#main{


}
#header{
    height: 46px;
    background-color: black;

}

#nav {

}

#nav li{
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
}

#slider{


}
#content{


}
#footer{


}